.bigbanner{
  background-image: linear-gradient(157deg, $color-gradient-main-one 29%, $color-gradient-main-two 100%);
  color: $color-font-bright;
  text-shadow: 0 1px 1px #8C4F6B;

  h1 span{
    display: inline-block;
  }
}

.bigbanner__content{
  //height: 100vh;
  padding: 25vh 0;
  display: flex;

  align-items: center;

  article{
    margin-top: -10%;

    p{
      max-width: 600px;
      font-size: 1.1em;
      line-height: 1.9em;
    }
  }


}
